.titleProject{
 color: orange;
}

.containerProjects{
    position: relative;
    top:100px
}

.containerCardsProjects{
    position: relative;
    top: 110px; left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    margin: 1rem;
    padding: 100px;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin-left: auto; /* Desplaza el contenedor hacia la derecha */
    align-items: flex-start;  
    border: 1px solid yellowgreen;
    border-radius: 100px;
    background-color: rgb(17, 16, 16);
}

.link{
    text-decoration: none;
}

@media(max-width: 767px){
    .containerCardsProjects {
        grid-template-columns: 1fr; /* Una columna en pantallas móviles */
        padding: 1rem; /* Reduce el padding en móviles */
        margin: 1rem auto; /* Centra el contenedor en móviles */
    }
    .titleProject{
        font-size: 1.5rem; /* Reduce el tamaño de fuente del título en móviles */
    }

  
}