.title{
    color: orange;
    position: relative;
    top:-50px
}
.containerTechnologies{
    position: relative;
    top:100px
}

.container{
    position: relative;
    top:100px
}

/* Technologies.module.css */

.containerCardsTechnologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    grid-gap: 1rem; /* Espacio entre las tarjetas */
    align-items: flex-start;
    justify-content: center;
    padding: 1rem; /* Ajuste de padding */
    margin: 1rem auto; /* Centra el contenedor horizontalmente */
    border-radius: 20px; /* Ajuste del border-radius */
    border: 1px solid yellowgreen;
    width: 700px;
    background-color: rgb(17, 16, 16);
    position: relative;
    top: 100px;
    
  }
  
  @media (max-width: 767px) {
    .containerCardsTechnologies {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
        width: 90%; /* Ajusta el ancho para adaptarse mejor a la pantalla móvil */
        padding: 0.5rem; /* Reduce el padding en móviles */
        margin: 1rem auto;
        
    }

    .title {
        font-size: 1.5rem; /* Reduce el tamaño de fuente del título en móviles */
    }
}