.App {
  text-align: center;
  background-color: black;
  padding: 10px; /* Ajusta el espacio alrededor del contenido */
min-height: 100hv;
}

.extra{
  height: 2000px; /* Altura adicional del contenido */
  background-color: transparent; /* Puedes eliminar esto si no quieres un fondo en el contenido adicional */
}
